@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');

html, body {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    top: 0;
    position: relative;
    border-style: none;
}

body > * {
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4.5vh 0;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.navbar-logo {
    margin-left: 7%;
    width: calc(50px + 12vw);
}

.navbar-button {
    border-style: solid;
    border-radius: 40px;
    border-color: hsl(322, 100%, 66%);
    appearance: none;
    background-color: transparent;
    color: hsl(322, 100%, 66%);
    padding: 10px 30px;
    margin-right: 7%;
    transition:  0.5s;
}

.navbar-button:hover {
    background-color: hsl(322, 100%, 66%);
    color: white;
}

#home {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-height: 70vh;
    min-width: 60vw;
    color: black;
    text-align: center;
}

#home > * {
    position: relative;
}

#home > h1 {
    padding-bottom: 3.5vh;
}

#home > p {
    padding: 0 20%;
    padding-bottom: 3.5vh;
}

.home-button {
    padding: 15px 50px;
    color: white;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    border-radius: 40px;
    appearance: none;
}

#screens-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vh 0;
}

#screens-pics > img{
    width: 70vw;
}

#info {
    display: flex;
    justify-content: space-around;
}

.info-content > img {
    width: calc(30px + 2vw);
}

.info-content > h2 {
    font-size: calc(24px + 3vw);
}

.info-content > p {
    text-align: center;
}

#grow-together {
    margin: 10vh 0;
}


.top-wave {
    display: block;
    width: 100%;
}

.bottom-wave {
    display: block;
    width: 100%;
}

.grow-together-content {
    background-color: #F6FBFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.grow-together-content > * {
    width: 50%;
    padding: 0 5vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.section-title {
    font-size: calc(16px + 1.5vw);
    padding-bottom: 3vh;
}

.section-description {
    font-size: calc(10px + 0.25vw);
    font-weight: 300;

}

.section-illustration {
    width: 35vw;
}

#flowing-conversations {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    margin-bottom: 10vh;
}

#flowing-conversations > * {
    padding: 0 5vw; 
}

#flowing-conversations > img {
    grid-row: 1;
    grid-column: 1;
}

.flowing-conversations-content {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end
}

.your-users-content {
    background-color: #F6FBFF;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
}

.your-users-content > * {
    padding: 0 5vw;
}

.your-users-content > div {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.your-users-content > .section-illustration {
    grid-row: 1;
    grid-column: 2;
}

#ready{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15vh 0;
}

.footer-content {
    color: hsl(192, 100%, 9%);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-gap: 5vw;
    background-color: hsl(192, 100%, 9%);
    padding: 10vh 7vw;
    color: white;
}

.footer-social {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: calc(50px + 13vw);
    margin-bottom: 5vh;
}

.contact {
    margin: 7vh 0;
}

.phone, .email {
    display: block;
}

.phone > * , .email > * {
    display: inline;
}

.phone > img, .email > img {
    margin-right: calc(10px + 1vw);
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
}

.sm-logo{
    width: calc(10px + 2vw);
}

.footer-newsletter {
    grid-row: 1;
    grid-column: 2;
}

.footer-newsletter > p {
    padding: 7vh 0;
}

#newsletter-form > * {
    padding: calc(5px + 0.25vh) 0;
    border-radius: 5px;
}

#newsletter-form > input {
    margin-right: 2vw;
}

#newsletter-form > button {
    padding-left: calc(10px + 2vw);
    padding-right: calc(10px + 2vw);
    background-color: hsl(322, 100%, 66%);
    color: white;
}


/* RESPONSIVIDADE */

@media screen and (max-width: 600px) {
    #info {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .grow-together-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vh 0;
    }

    .grow-together-content > * {
        width: 80%;
    }

    #flowing-conversations {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-gap: 3vh;
    }

    #flowing-conversations > * {
        width: 80%;
        margin: 0 auto;
    }

    #flowing-conversations > img {
        grid-row: 2;
        grid-column: 1;
    }
    
    .section-illustration {
        margin-top: 3vh;
    }
    
    .flowing-conversations-content {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: start;
    }

    .your-users-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 3vh;
        padding: 5vh 0;
    }

    .your-users-content > * {
        width: 80%;
        margin: 0 auto;
    }

    #your-users > div {
        grid-row: 1;
        grid-column: 1;
    }

    .your-users-content > .section-illustration {
        grid-row: 2;
        grid-column: 1;
    }
}